body{
    margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
    background:linear-gradient(135deg,#06a5e3af,#d8694a);
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.container{
    position: relative;
    width: 420px;
    height: 380px;
    background: #fff;
    transform: rotate(-45deg);
    margin: 80px auto;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.container::before,
.container::after{
    content: "";
    position: absolute;
    width: 420px;
    height: 380px;
    background: #fff;
    border-radius: 50%;
}

.container::before{
    top: -210px;
    left: 0;
}

.container::after{
    left: 210px;
    top: 0;
}

h1{
    color:#0ba4b5;
    font-size:42px;
}

p{
    font-size:20px;
    color:#e60a45a9;
    line-height:1.6;
}

button{
    margin-top:25px;
    background:#ff3366;
    color:white;
    border:none;
    padding:15px 30px;
    font-size:20px;
    border-radius:30px;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    transform:scale(1.05);
}
.content{
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
    box-sizing: border-box;
    z-index: 1;
}